/* line 1, ../sass/caroussel.scss */
.carousel-inner img {
  display: block;
  margin: auto;
  width: 100%;
}

/* line 9, ../sass/caroussel.scss */
.glyphicon {
  font-size: 20px;
}

/* line 13, ../sass/caroussel.scss */
div#myCarousel {
  margin-top: 62px;
  overflow: hidden;
}

/* line 19, ../sass/caroussel.scss */
div.carousel-item > div.row > div > p, div.carousel-item > div.row > div > h2 {
  text-align: center;
}
/* line 20, ../sass/caroussel.scss */
div.carousel-item > div.row > div > h2 {
  font-family: 'Lobster';
}

/* line 21, ../sass/caroussel.scss */
div.carousel-item > div.row > div > p > a {
  text-decoration: none;
}

/* line 22, ../sass/caroussel.scss */
ul.list-carousel {
  list-style-type: none;
  margin: 5%;
}

/* line 25, ../sass/caroussel.scss */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* line 28, ../sass/caroussel.scss */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* line 32, ../sass/caroussel.scss */
div.container-fluid {
  padding: 0px;
}

/* line 33, ../sass/caroussel.scss */
a.carousel-control-prev, a.carousel-control-next {
  display: none;
  top: 50%;
}

/*------------------------------ vertical bootstrap slider----------------------------*/
/* line 38, ../sass/caroussel.scss */
.carousel-inner > .carousel-item.carousel-item-next,
.carousel-inner > .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  top: 0;
}

/* line 43, ../sass/caroussel.scss */
.carousel-inner > .carousel-item.carousel-item-prev,
.carousel-inner > .carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  top: 0;
}

/* line 48, ../sass/caroussel.scss */
.carousel-inner > .carousel-item.next.carousel-item-left,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner > .carousel-item.active {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------ */
/* line 56, ../sass/caroussel.scss */
ul.carousel-indicators {
  position: absolute;
  left: 121%;
  bottom: 50%;
  padding-top: 10px;
  width: 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 69, ../sass/caroussel.scss */
ul.carousel-indicators > li {
  background-color: lightgray;
  width: 15%;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 75, ../sass/caroussel.scss */
ul.carousel-indicators > li.active {
  background-color: #76e07a;
  width: 15%;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 1030px) {
  /* line 81, ../sass/caroussel.scss */
  ul.carousel-indicators {
    display: none;
  }
}
