/* line 1, ../sass/portfolio.scss */
.verticalCentered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slideshow {
  0% {
    left: -560px;
  }
  100% {
    left: 105%;
  }
}
/* line 12, ../sass/portfolio.scss */
section#portfolio {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  height: 200px;
}
/* line 18, ../sass/portfolio.scss */
section#portfolio h2 {
  text-align: center;
  font-family: 'Lobster';
}
/* line 23, ../sass/portfolio.scss */
section#portfolio div#scrolling-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 125px;
  width: 564px;
  border: solid red 2px;
  margin-top: 56px;
  animation: slideshow 30s linear infinite;
  transform: translate3d(0, 0, 0);
}
/* line 35, ../sass/portfolio.scss */
section#portfolio div#scrolling-image > div {
  position: relative;
  width: 180px;
  border: solid blue 1px;
  text-align: center;
  margin-left: 10px;
}
/* line 39, ../sass/portfolio.scss */
section#portfolio div#scrolling-image > div > a > img {
  height: 120px;
  width: 100%;
}
/* line 43, ../sass/portfolio.scss */
section#portfolio div#scrolling-image > div:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* line 48, ../sass/portfolio.scss */
section#portfolio div#scrolling-image > div:first-child {
  margin-left: 0px;
}
/* line 49, ../sass/portfolio.scss */
section#portfolio div#scrolling-image > div > div {
  display: none;
  font-weight: bold;
  opacity: 1;
  color: black;
  background-color: #ffffff;
  width: 100%;
}
